<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter utilisateur</title>
</head>
<body>
    <form>
        <p> <label for="">Rôle</label>
            <select id="role">
            </select>
        </p>
            
        <p> <label for="">Nom</label>
            <input type="text" id="lastname" ></p>
        <p> <label for="">Prénom</label>
            <input type="text" id="firstname" ></p>
        <p> <label for="">Matricule</label>
            <input type="text" id="matricule" ></p>
        <p><label for="">E-mail</label>
            <input type="text" id="mail" ></p>
        <p> <label for="">Mot de passe</label>
            <input type="password" id="password" ></p>
        <p><button type="button" id="btn-addUser">Ajouter</button></p>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
</body>
</html>

