<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap & jsDelivr  -->
    <script src="/lib/chart.js"></script><!--integrer la librairie graphique-->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/nav.css">

    <title>Home</title>
  </head>
  <body>
    <!--Navigation bar-->
    <nav>
      <h1>EssOil</h1>
      <div class="onglets">
          <!--<a id="" href="{{ url_for('monit') }}">Monitoring</a>-->
          <a id="" href="home">Acceuil</a>
          <a id="" href="monitoring">Monitoring</a>
          <a id="" href="control">Commande</a>
          <a id="" href="database">Données</a>
          <a id="" href="administration">Administration</a>
          <a type="button" href="" id="btn-logout">Se déconnecter</a>
      </div>
    </nav>

    <!-- Header -->
    <header>
        <h1>HELMo Gramme</h1>
        <h4>HUILE ESSENTIELLE</h4>
    </header>
    <h2>Utilisateurs</h2>
        <table id="users-table"></table>




    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
